<section id="login" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_login">
            <div class="card">
              <div class="card-body text-center">
                <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)" *ngIf="getToken() == unefined">
                  <img class="logo img-fluid" src="/assets/img/padelHub-w.png" alt="">
                  <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="usuario.email" required>
                  </div>
                  <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="usuario.password"
                      required>
                  </div>
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Dale caña!</button>
                  <p class="alert-login alert hidden"></p>
                  <div class="form-group">
                    <i class="fas fa-question-mark"></i>
                    <a routerLink="/registrar" class="form-control login-user">Todavía no eres miembro ?</a>
                  </div>
                </form>
                <button (click)="logout()" type="button" class="btn btn-lg btn-primary btn-block" *ngIf="getToken() != undefined">Logout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
