<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Pistas</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre pista</th>
                    <th scope="col">Club</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pista of pistas" class="text-center">
                    <th scope="row">{{pista.id}}</th>
                    <td>{{pista.nombre}}</td>
                    <td>{{pista.id_club}}</td>
                  </tr>               
                </tbody>
              </table>
        </div>
    </div>
</div>