$screen-xl: 1280px;
$screen-lg: 1024px;
$screen-md: 800px;
$screen-sm: 640px;

#header
    background: url(https://images.unsplash.com/photo-1541744573515-478c959628a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80);
    height: 70px;
    width: 100%;
    background-size: 100%;
    background-position: center;
    border-radius: 0.8rem 0.8rem 0 0;
    color: #e0dddd;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
#proximasPartidas
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
                    
mat-card
    border: 1px solid black;
    margin-top: 1rem;
    border-radius: 0 !important;
    @media (max-width: $screen-lg)
        width: 90%;
        max-width: 100%;
        margin: 1rem;
    &.pagada
        border: 1px solid green;
        background: hsla(120, 100%, 25%, 0.0784313725490196);
        box-shadow: none;
    &.bloqueo
      background: #dcd6d6;
      border: 1px solid #a09b9b;
      box-shadow: none;
    &.noShow
      background: #ec9393;
      border: 1px solid #ef0e0e;
      box-shadow: none;
    mat-card-content
        flex-direction: row;
        -webkit-flex-direction: row;
        display: flex;
        display: -webkit-flex
        -webkit-justify-content: space-around;
        justify-content: space-around;
        align-items: center;
        -webkit-align-items: center;
        margin: 1rem;
        font-size: 1.5rem;
        @media (max-width: $screen-sm)
            flex-direction: column;
            -webkit-flex-direction: column;            
        p
            button
                margin: 1rem;
            &:last-of-type
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;

.controlFecha
    display: flex;
    font-size: 1.6rem;
    justify-content: space-around;
    font-weight: bolder;
    align-items: center;
    .diamenos, .diamas
      &:hover
        cursor: pointer;
      font-size: 3rem;


.reservaPista
  max-width: 48vw;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  &:has(> div.mat-tab-body-content )
    display: flex !important;

.borrar-reserva
  display: flex;
  justify-content: flex-end;
  &:hover
    cursor: pointer;

.mat-tab-body-content 
  display: flex !important;

.alertSinPista
  margin-top: 4.4rem;


.loading-container
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffffff2;
  z-index: 100;
  mat-spinner
    .mat-progress-spinner
      stroke: #337ab7;

#agenda
  width: 100%;

.container
  width: 100%;

.bg1
    background: #465D8B;
.bg2
    background: #AAD976;
.bg3
    background: #a874b8;
.bg4
    background: #da454d;
.bg5
   background:  #fde490;
.bg6
    background: #66CBE8;