<div class="container">
    <img class="logo img-fluid" src="/assets/img/padelHub-w.png" alt="padelhub">
    <P class="texto-logo"> Estás a un paso de desenfundar tu pala</P>
    <a class="btn-login btn btn-primary" href="/dashboard"><fa size="2x" name="user-circle"></fa></a>
    <mat-card *ngIf="reserva != undefined">
      <p style="font-size: 1.5rem;" class="label label-warning">¿ Estás seguro de que quieres reservar  esta pista?</p>
      <mat-card-header>
        <img src="/assets/img/logos/{{reserva.club}}.png" alt="">
      </mat-card-header>
      <img mat-card-image  *ngIf="reserva.rutaImagenes == undefined || reserva.rutaImagenes == '' " src="../../assets/img/pista-por-defecto.jpeg" alt="{{reserva.nombre}}">
      <mat-card-content>
        <p>{{reserva.nombre}}</p>
        <p> pista {{reserva.tipoPista}}</p>
        <p><fa size="2x" name="clock-o"></fa> {{reserva.duracion}}</p>
        <p class="precio">{{ reserva.precio | currency:'EUR'}} / hora </p>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="bloqueaReserva || alert != undefined" class="btn btn-warning" (click)="reservar(reserva)">RESERVAR</button>
        <button mat-button class="btn btn-outline-secondary mr-2" (click)="buscar()">VOLVER A BUSCAR</button>
      </mat-card-actions>
      <mat-error *ngIf="mensajeError != undefined">{{ mensajeError }}</mat-error>
      <ngb-alert *ngIf="alert != undefined && alert.message != undefined" [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </mat-card>
  </div>

