<div class="container d-flex flex-column" >
  <div id="header">
    <h3> ¿ Unas partiditas ? ¡¡ A qué esperas !! reserva tu pista</h3>
    <button id="buscarPartida" class="btn btn-primary btn-outline-primary" (click)="buscar()">Reserva nueva</button>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                  <h3>Próximas partidas</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alert alert-warning">Recuerda que lo <strong>ideal</strong> es que
         si vas a cancelar una reserva lo hagas con <strong>24 HORAS de antelación</strong>
          </div>
      <ng-container *ngFor="let reserva of listaReservas; let i=index">
        <ng-container *ngIf="reserva.checkin == 0 && reserva.noShow == 0">
          <mat-card>
            <mat-card-header>
                {{reserva.horaInicio.split(" ")[0]}} - {{ reserva.nombreClub }}
            </mat-card-header>
            <mat-card-content>
              <p><fa name="clock-o"></fa> {{reserva.horaInicio.split(" ")[1].slice(0,5)}} - {{reserva.horaFin.split(" ")[1]}}</p>
              <p>{{reserva.duracion}} minutos</p>
              <p class="precio">importe: {{reserva.precio | currency:'EUR'}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="reserva.checkin == 0 && reserva.noShow == 0" mat-button (click)="cancelar($event, reserva)" class="btn btn-lg btn-danger">
                <fa name="times"></fa> Cancelar reserva
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </ng-container>
      </mat-expansion-panel>
  </mat-accordion> 

  <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                    <h3>Reservas pasadas</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
        <ng-container *ngFor="let reserva of listaReservas; let i=index">
          <ng-container *ngIf="reserva.checkin == 1 || reserva.noShow == 1">
              <mat-card>
                  <mat-card-header>
                      {{reserva.horaInicio.split(" ")[0]}} - {{ reserva.nombreClub }}
                  </mat-card-header>
                  <mat-card-content>
                    <p><fa name="clock-o"></fa> {{reserva.horaInicio.split(" ")[1].slice(0,5)}} - {{reserva.horaFin.split(" ")[1]}}</p>
                    <p>{{reserva.duracion}} minutos</p>
                    <p class="precio">importe: {{reserva.precio | currency:'EUR'}}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button *ngIf="reserva.checkin == 0 && reserva.noShow == 0" mat-button (click)="cancelar($event, reserva)" class="btn btn-lg btn-danger">borrar</button>
                  </mat-card-actions>
                  <div *ngIf="reserva.checkin == 1" class="alert alert-success">
                      <i class="fa fa-check"></i> Partida verificada por el club
                  </div>
                  <div *ngIf="reserva.noShow == 1" class="alert alert-danger">
                      El club ha marcado la partida como no presentado :(
                </div>
              </mat-card>
          </ng-container>
        </ng-container>
        </mat-expansion-panel>
    </mat-accordion>  
  <p class="mensaje label label-primary" *ngIf="mensaje != undefined">
    {{mensaje}}
  </p>
</div>

