mat-toolbar
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    .login-zone
        .logout
                &:hover
                    cursor: pointer;
        
.logo
    img
        width: 200px;
        @media (max-width: 768px)
            width: 150px;

.user
    @media (max-width: 568px)
        display: none;