<body id="page-top">
    <!-- Masthead -->
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">
            <img class="logo img-fluid" src="/assets/img/padelHub-w.png" alt="">
            <h1 class="text-uppercase text-white font-weight-bold"> ¿ Qué, nos echamos unas partiditas ? </h1>
            <hr class="divider my-4 w-100">
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 font-weight-light mb-5">¿Tienes ganas de jugar? A qué esperas, busca partida en tu localidad</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/buscar">buscar partida</a>&nbsp;
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/registrar">Regístrate!</a>
          </div>
        </div>
      </div>
    </header>
  
    <!-- Services Section -->
    <section class="page-section" id="services">
      <div class="container">
        <h2 class="text-center mt-0">¿ Qué te podemos ofrecer ?</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                  <i class="fa fa-4x fa-cloud-upload text-primary mb-4"></i>
                  <h3 class="h4 mb-2">Mejora constante</h3>
                  <p class="text-muted mb-0">No paramos de maquinar nuevas mejoras </p>
                </div>
              </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
              <h3 class="h4 mb-2">En todos los dispositivos</h3>
              <p class="text-muted mb-0">Se adapta todo tipo de dispositivos</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <i class="fa fa-4x fa-clock-o text-primary mb-4"></i>
              <h3 class="h4 mb-2">Flexibilidad</h3>
              <p class="text-muted mb-0">Busca pistas hasta con 2 horas de flexibilidad horaria</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <i class="fas fa-4x fa-calendar-times-o text-primary mb-4"></i>
              <h3 class="h4 mb-2"> Cancela tus reservas</h3>
              <p class="text-muted mb-0">Cancela tus reservas hasta con 24h de antelación</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  
    <!-- Contact Section -->
    <section class="page-section" id="contact">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="mt-0">¡Psss! ¿Tienes alguna sugerencia de mejora?</h2>
            <hr class="divider my-4">
            <p class="text-muted mb-5">No lo dudes y ponte en contacto con nosotros!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
            <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
            <div>+35 666 666 666</div>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
            <a class="d-block" href="mailto:info@padelHub.es">info@padelHub.es</a>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Footer -->
    <footer class="bg-light py-5">
      <div class="container">
        <div class="text-center text-muted">Made with <i class="fas fa-heart fa-3x mb-3 text-muted"></i> by padelHub </div>
      </div>
    </footer>
  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  
    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
  
  
  
  
  </body>