$gris: #2d2c2c;

mat-card
    font-size: 64.5%;
    font-weight: bold;
    color: $gris;

.reservar-pista
    width: 100%;
.panel-reserva
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;

mat-checkbox
    width: 100%;


#timepicker
    ngb-timepicker
        font-size: 2rem;
        fieldset
            .ngb-tp
                .ngb-tp-spacer
                    margin: 1rem;

.btn-group-toggle
    position: relative;
    display: flex;
    vertical-align: middle;
    margin: 2rem;
    justify-content: center;
    input
        display: none;
        width: 60px;
    label
        label
            width: 50px;
            margin: 0.4rem;

.mat-form-field
    width: 100%;